<!DOCTYPE html>
<html>
<head>
	<title>Company Review</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="text-center">Company Review</h1>
<div class="form-group">
	<label class="col-sm-1">Select Company</label>
	<select class="form-control company-filter ">
		<option>Amazon</option>
		<option>Flipkart</option>
		<option>Google</option>
		<option>Dreamworks</option>
		<option>Microsoft</option>
	</select>
</div>

<h4 class="text-center">Table 101</h4>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<th>Name</th>
		<th>Roll Number</th>
		<th>Company</th>
		<tr class="info">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td> Amazon</td>
		</tr>
		<tr class="active">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td> Amazon</td>
		</tr>
		<tr class="success">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td> Amazon</td>
		</tr>
		<tr class="warning">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td> Amazon</td>
		</tr>
		<tr class="danger">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td> Amazon</td>
		</tr>
	</table> 
</div>


</body>
</html>