<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1 class="main-head">Placement Feedback Portal</h1>
	<div class="container">
		<div class="row">
			<button type="button" class="btn btn-secondary col-md-4  col-xs-12"><%= link_to "Student Feedback Form", "/student_feeds/new" %></button><br class="visible-xs">
			<button type="button" class="btn btn-secondary col-md-4  col-xs-12"><%= link_to "Student's Reviews", "/student_feeds/index" %></button><br class="visible-xs">
			<button type="button" class="btn btn-secondary col-md-4  col-xs-12"><%= link_to "Company's Reviews", "/company_reviews/index" %></button><br class="visible-xs">
		</div>
	</div>	
</body>
</html>
