<!DOCTYPE html>
<html>
<head>
	<title>Other Students Feedback</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="style3.css">
</head>
<body>
<h1 class="text-center">Students Review</h1>
<div class="form-group">
	<label class="col-sm-1">Select Company</label>
	<select class="form-control company-filter ">
		<option>Amazon</option>
		<option>Flipkart</option>
		<option>Google</option>
		<option>Dreamworks</option>
		<option>Microsoft</option>
	</select>
</div>

<h4 class="text-center">Table 101</h4>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<th>Name</th>
		<th>Roll Number</th>
		<th>Email</th>
		<th>Company</th>
		<th>Feedback</th>
		<th>Year</th>
		<tr class="info">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td>someone@xyz.com</td>
			<td> Amazon</td>
			<td class="feedback-table">I hate u like i love u.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.I hate u like i love u.</td>
			<td>2052</td>
		</tr>
		<tr class="active">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td>someone@xyz.com</td>
			<td> Amazon</td>
			<td class="feedback-table">I hate u like i love u.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</td>
			<td>2052</td>
		</tr>
		<tr class="success">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td>someone@xyz.com</td>
			<td> Amazon</td>
			<td class="feedback-table">I hate u like i love u.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</td>
			<td>2052</td>
		</tr>
		<tr class="warning">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td>someone@xyz.com</td>
			<td> Amazon</td>
			<td class="feedback-table">I hate u like i love u.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</td>
			<td>2052</td>
		</tr>
		<tr class="danger">
			<td> Shivang Arora</td>
			<td> IMT2015039</td>
			<td>someone@xyz.com</td>
			<td> Amazon</td>
			<td class="feedback-table">I hate u like i love u.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</td>
			<td>2052</td>
		</tr>
	</table> 
</div>
</body>
</html>