// Place all the styles related to the company_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sub-comp-head{
	margin-top:25px;
	margin-bottom:25px;
	font-size:2.5em;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}