// Place all the styles related to the student_feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sub-feed-head{
	margin-top:25px;
	margin-bottom:25px;
	font-size:2.5em;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}

.form-label{
	font-size: 1.3em;
	text-align:right;
	padding-right:0px;
	margin-top:15px;
	padding-top:4px;
	/*color:#008B8B;*/
	color:#00519C;
}

.form-fields{
	margin-top:15px;
	border-radius:15px;
	font-size:1.2em;
}

/*::-webkit-validation-bubble-message {
    visibility:hidden;
}

.feedback-form input:invalid, .feedback-form textarea:invalid { 
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.feedback-form input:required:valid, .feedback-form textarea:required:valid { 
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}*/

.star{
	color:red;
	font-size:0.8em;
}

.ccform-addon{
	/*color:#008B8B; */
	color:#00519C;
	float:left;
	text-align:right;
	padding-right:0px;
	margin-top:5px;
	padding-top:4px;
	width:5%;
	background:#F0F3F4;	
}

/*#box{
	border:0.5px dotted blue; 
	box-shadow:8px 8px 15px white;
}*/

.dropdown_feed select{
	width:100%;
	border-radius:4px;
	/*background:#008B8B;*/
	background:#00519C;
	color:white;
	font-weight:bold;
	text-align:center;
	font-family: 'Josefin Slab', serif;
}

.dropdown_feed select option{
	background:white;
	color:black;
}

.dropdown_feed select option:hover{
	background:#ccc;
}

/*.sub-menu-parent {
 	position: relative; 
 }

option{ 
  	visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:hover option{
  visibility: visible; 
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}*/

.selectBox {

}

.selectBox select {
  width: 100%;
  font-weight: bold;
  visibilty:hidden;
}

.overSelect {

}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  background:white;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}


textarea{
	height:19vw !important;
	width:36vw;
}

#feedtext{
	margin-bottom:5px;
}






.submit_sub_btn{
	margin-bottom:51px;
	border:0;
	margin-left:-35vw;
	color:white;
	background:green;
	padding:15px;
	font-size:1.2em;
	box-shadow:4px 4px 20px green	;
}

.submit_sub_btn:active{
	box-shadow:7px 7px 10px green	;
}



table, th, td {
    border: 1px solid black;    
    text-align: center; 
    table-layout:fixed;
}

th, td {
    padding: 15px;
}
body{
	text-align:center;
}


.link{
	text-align: center;
}

@media (min-width: 992px)and(max-width: 1399px){
	textarea {
		height:22vw;
	}
	.form-label{
		font-size:1.05em;
	}
} 

@media (min-width: 768px)and(max-width : 991px){
	.submit_sub_btn{
		margin-left:-2vw;
		padding:10px;
		font-size:1.1em;
	}
	textarea {
		height:22vw;
		width:60vw;
	}
}

@media (max-width: 767px){
	.submit_sub_btn{
		margin-left:-1vw;
		padding:10px;
		font-size:1.1em;
	}
	textarea {
		height:22vw;
		width:60vw;
	}
}	