// Place all the styles related to the student_feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feed-head{
	margin-top:25px;
	margin-bottom:25px;
	font-size:2.5em;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}

.form-label{
	font-size: 1.3em;
	text-align:right;
	padding-right:0px;
	margin-top:15px;
	padding-top:4px;
	color:#008B8B;
}

.form-fields{
	margin-top:15px;	
}

.star{
	color:red;
}

.box{
	/*border:0.5px dotted blue; 
	box-shadow:8px 8px 15px white;*/
}

textarea {
	height:19vw;
	width:36vw;
}

#feedtext{
	margin-bottom:5px;
}

#dropdown{
	margin-top:15px;	
}

.submit_sub_btn{
	margin-left:8vw;
	color:white;
	background:indigo;
	padding:15px;
	font-size:1.2em;
}

table, th, td {
    border: 1px solid black;    
    text-align: center; 
    table-layout:fixed;
}

th, td {
    padding: 15px;
}

.main{
	padding: 10px 35px 100px 15px;
}

.link{
	text-align: center;

}

#feed-head{
	font-weight: bold;
	font-family: 'Josefin Slab',	
}

@media (min-width: 768px)and(max-width : 991px){
	.submit_sub_btn{
		margin-left:2vw;
		padding:10px;
		font-size:1.1em;
	}
	textarea {
		height:22vw;
		width:60vw;
	}
}

@media (max-width: 767px){
	.submit_sub_btn{
		margin-left:1vw;
		padding:10px;
		font-size:1.1em;
	}
	textarea {
		height:22vw;
		width:60vw;
	}
}	