// Place all the styles related to the student_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-filter{
	width: 45%;
}
 
.feedbacktable{
	max-height: 10px;
	color:white;
	overflow-y: hidden;
}