// Place all the styles related to the student_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sub-review-head{
	margin-top:25px;
	margin-bottom:25px;
	font-size:2.5em;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}

.company-filter{
	width: 45%;
}
 
.feedbacktable{
	max-height: 10px;
	color:white;
	overflow-y: hidden;
}

hr{
	margin:1px;
}