// Place all the styles related to the student_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sub-review-head{
	margin-top:25px;
	margin-bottom:25px;
	font-size:2.5em;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}

.company-filter{
	width: 45%;
}
 
.feedbacktable{
	max-height: 10px;
	color:white;
	overflow-y: hidden;
}

hr{
	margin:1px;
}

.button{
  background-color: #008B8B; 
  color: black; 
  border: 2px solid #008B8B;
  /*add any other properties you want to style*/
}

.button:hover {
    background-color: #008B8B;
    color: white;

}

.dropdown{
  background-color: white; 
  color: black; 
  border: 2px solid #008B8B;
  /*add any other properties you want to style*/
}

.dropdown:hover {
    background-color: #008B8B;
    color: white;
}