// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #D3D3D3;
	font-size: 2em;
}

#header-container{
	margin-left:5px;
	margin-right:0px;
	width:100%;
}

#header-nav{
	background: white;
	border: 0px;
	border-radius: 15px;
	margin-top:2px;
}

#logo-img{
	width: 200px;
	height: 200px;
	margin: 0px 10px 0px 0px;
}

.navbar-header a:hover, .navbar-header a:focus{
	background-color:white;
}

.navbar-brand{
	padding-top: 95px;
}

.navbar-brand h1{
	font-size: 3em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:0px;
	margin-bottom:0px;
	text-shadow: 3.5px 3.5px 4px #222;
	color: #00519C;
	font-weight:bold;	   
}

.navbar-brand a:hover , .navbar-brand a:focus{
	text-decoration: none;
	background-color:white;
} 

#nav-list{
	padding-top: 2px;
}

#nav-list a{
	color: blue;
	font-size: 1.5em;
}

#nav-list a:hover{
	background: #E7E7E7;
}

.navbar-header button.navbar-toggle , .navbar-header .icon-bar{
	border:1px solid #00519C;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: 33px;
}

.main-head{
	font-size: 2.5em;
	margin-bottom: 50px;
	color: black;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
}

.row button{
	border:1px solid #0000A0;	
}

#last_mainpage_btn{
	margin-bottom:250px;
}

.row button a{
	font-size: 1.75em;
	text-decoration: none;
	color: #0000A0;
}

.row button a:hover{
	background: #ADD8E6;
}



@media (min-width: 768px)and(max-width : 991px){
	.navbar-brand{
		padding-top: 35px;
		margin-top: 0px;
	}
	#nav-list{
		padding-top: 70px;
	}
	.row button{
		margin-top:5px;
		margin-bottom:5px;	
	}
}

@media (min-width: 768px)and(max-width : 792px){
	.navbar-brand{
		padding-top: 20px;
		margin-top: 0px;
	}
	#nav-list{
		margin-top: 30px;
	}	
}

@media (max-width: 767px){
	.navbar-brand{
		padding-top: 5px;
		margin-top:25px;
	}
	.navbar-brand h1{
		font-size:2.5em;
	}
	.main-head{
		font-size:2em;
		font-family: 'Josefin Slab', serif;
	}
	.row button{
		margin: 5px 3px 5px 3px;
	}
}

#copyright{
	line-height: 50px;
}